@import '../../../../scss/vars';

.popular-header{
  font-size: 2rem;
  font-weight: 500;
  margin-top: 2.5rem;


}
.category-list{
  display:flex;
  gap: 1rem;
  margin: 1.5rem 0;

  li{
    font-size: 1.03rem;

  }
  li.active{
    color:$base-color;
    font-weight:600;
  }
}