.navbar {
  height:70px;
  box-shadow:0 4px 5px rgb(0 0 0 / 7%)
}

.container {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
  height:inherit;
}

.icon {
  margin: 0 20px;
}
.right-side-icons-container{
  display:flex;
  gap:7px;
  height:100%;
  margin-right:5px;
  align-items:center;
}


.modal-header {
  display:flex;
  justify-content: space-between;
  align-items:center;
  margin:10px
}
.background-for-icon{
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:50%;
  background: #def9ec;
  height:32px;
  width:32px;
}