@import '../vars.scss';
@mixin submit-button(){

  background: $base-color;
  color:white;
  width:100%;
  margin-top:1rem;
  font-size: 1.5rem;
  padding:20px 40px;

  &:focus{
    outline-color: $base-color;
  }
  &:active{
    outline-color: $base-color;
  }
  &:hover{
    border-color:$base-color;
    animation: 0.5s 1 alternate scale;
  }
  @keyframes scale {
    from{
      scale:1
    }
    50% {
      scale:1.2
    }
    to {
      scale:1
    }
  }
}