@import '../../../../scss/vars';
.best-sellers-header{
  font-size: 2rem;
  font-weight: 500;
  margin-top: 2.5rem;
}

.best-product-container{
  min-height: 100%;
  border:1px solid #ccc;
  border-radius:15px;
  padding: 2rem 0 2rem;
  display:flex;
  flex-direction:column;
  gap: 0.3rem;
  height: 500px;
  .best-product-content-container{
    width: 85%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    align-items: start;

    .best-product-category{
      text-transform:capitalize;
      font-size: 11px;
      color:#999;
    }
    .best-product-name{
      font-weight: 500;
      font-size: 17px;
    }
    .best-product-vendor{
      text-transform: capitalize;
      color:#999;
      font-size: 12px;
      font-weight: 500;
    }
    .img-wrapper{
      display:flex;
      justify-content: center;
      width: 85%;
      margin:0 auto 2rem;
    }
    .best-product-price-add-container{
      display:flex;
      margin-top: 1rem;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      p{
        font-weight:bold;
        font-size: 1.2rem;
        color: $base-color;
      }
      .best-product-button{
        background-color: rgba(37, 241, 88, 0.4);
        opacity:0.7;
        padding:0.45rem 1.4rem;
        font-size: 14px;
        color: #08491f;
        font-weight: 600;
        border:0;

      }
    }
  }
}